<div>
  <div>
    <h1>
      <%=@the_board.name%> 
    </h1>
<hr>
 <h2>Add a new post</h2>  
<form action="/insert_post" method="post">

<label for="title">Title</label>
<input id="title" name="post_title" type="text">

<div>
<label for="body"> Body </label>
<textarea id="body" name="post_body" type="text"></textarea>
</div>


<div>
<label for="expires"> Expires on </label>
<input id="expires" name="post_expires" type="date">
</div>

<button> Add post </button>

</form>
 

<hr>
<!--Enter Active and Expired Posts Lists-->
<h2>
Active posts
</h2>

<table border="1px">
<th>Title</th>
<th>Body</th>
<th>Posted on</th>
<th>Expires on</th>

<%@the_posts_current.each do |table|%>
<tr>
  <td><%=table.title%></td>
  <td><%=table.body%></td>
  <td><%=table.created_at%></td>
  <td><%=table.expires_on%></td>
</tr>
<%end%>
</table>


<h2>
Expired posts
</h2>

<table border="1px">
<th>Title</th>
<th>Body</th>
<th>Posted on</th>
<th>Expired on</th>

<%@the_posts_expired.each do |table|%>
<tr>
  <td><%=table.title%></td>
  <td><%=table.body%></td>
  <td><%=table.created_at%></td>
  <td><%=table.expires_on%></td>
</tr>
<%end%>

</table>

<hr>

<!--testing area-->

